.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding-right: 3vmin;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 0vmin 3vmin;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

.inputContainer {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  min-height: 40vmin;
}

.inputBox {
  background-color: white;
}

.inputButton {
  margin: 10vmin;
}